{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% bootstrap_css %}
</head>

<body>
    <div class="container my-5">
        <form method="POST" action="/image" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <br>
                <p>
                    <h3>Add Image</h3>
                </p>
                <div>
                    <p>Employee ID:</p>{{ form.eid }}
                </div>
                <div>
                    <p>Choose Image:</p>{{ form.pict }}
                </div>
                <div>
                    <br>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
    {% bootstrap_javascript %}
</body>

</html>