{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% bootstrap_css %}
</head>

<body>
    <div class="container my-5">
        <form method="POST" action="/update/{{employee.id}}">
            {% csrf_token %}
            <div>
                <br>
                <p>
                    <h3>Update Details</h3>
                </p>
            </div>
            <div>
                <p>Employee Id:</p>
                <div>
                    <input type="text" name="eid" value="{{employee.eid}}" />
                </div>
            </div>
            <div>
                <p>Employee Name:</p>
                <div>
                    <input type="text" name="ename" value="{{employee.ename}}" />
                </div>
            </div>
            <div>
                <p>Employee Address :</p>
                <div>
                    <input type="text" name="eaddress" value="{{employee.eaddress}}" />
                </div>
            </div>
            <div>
                <p>Employee KTP ID:</p>
                <div>
                    <input type="text" name="ektpid" value="{{employee.ektpid}}" />
                </div>
            </div>
            <div>
                <br>
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
    {% bootstrap_javascript %}
</body>

</html>